@import url(../fonts/pretendard.css);

$toolbar-bg: #f8f9fa;
$active-color: #007bff;
/* for tablet or less */
$breakpoint-mobile: 768px;

html {
  font-family: 'Pretendard';
  font-weight: 400;
  body {
    /* content area margin */
    margin: 0;
    /* For PC & Tablet */
    margin-left: 70px;
    @media (max-width: #{$breakpoint-mobile}) {
      margin-left: 0;
      /* For Mobile. Bottom margin */
      margin-bottom: 60px;
    }
    #app {
      header {
        position: fixed;
        top: 0;
        width: calc(100%);
        max-width: 100vw;
        z-index: 999;
      }
      main {
        position: inherit;
      }

      #toolbar {
        display: flex;
        background-color: $toolbar-bg;
        border-color: #dee2e6;
        border-style: solid;
        position: fixed;
        z-index: 1000;

        /* default settings: PC & Tablet (Vertical Toolbar) */
        left: 0;
        top: 0;
        bottom: 0;
        width: 70px;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        border-right-width: 1px;

        .menu-item {
          padding: 15px;
          cursor: pointer;
          font-size: 24px;
          
          &.active {
            color: $active-color;
          }
          /* Push the main-menu icon down */
          &.main-menu {
            margin-top: auto; 
          }
          > i.icon {
            display: block;
            position: relative;
            width: 2rem;
            height: 2rem;
            background-size: cover;
            background-position-x: center;
            background-position-y: center;
            background-repeat: no-repeat;
            &.sms { background-image: url("@/assets/images/icons/sms.svg"); }
            &.conference { background-image: url("@/assets/images/icons/conference_call.svg"); }
            &.services { background-image: url("@/assets/images/icons/services.svg"); }
            &.main-menu { background-image: url("@/assets/images/icons/menu.svg"); }
          }
          > img.avatar {
            width: 2rem;
            height: 2rem;
            clip-path: circle(2rem at 1rem, 1rem);
          }
        }

        /* reactive settings: Mobile (Bottom Horizontal Toolbar) */
        @media (max-width: #{$breakpoint-mobile}) {
          /* Free from Top */
          top: auto;
          /* Fixed at Bottom */
          bottom: 0;
          left: 0;
          right: 0;
          /* Whole width */
          width: 100%;
          height: 60px;
          /* Horizontal */
          flex-direction: row;
          /* Distribute item spacing */
          justify-content: space-around;
          align-items: center;
          padding-top: 0;
          border-right-width: 0;
          border-top-width: 1px;
          .menu-item {
            padding: 10px;
            &.sub {
              display: none;
            }
            &.main-menu {
              display: none;
            }
          }
        }
      }

      footer {
        transition: opacity 0.1s, transform 0.1s;
        opacity: 1;
      }
      footer.hide {
        opacity: 0;
      }
    }
  }
}